.header {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  position: relative;
  background-color: var(--color-grey-light-1);
  overflow: hidden;
  padding-bottom: 8rem;

  @media only screen and (max-width: $break-point-meduimPlus) {
    padding-bottom: 5rem;
    height: auto;
  }

  @media only screen and (max-width: $break-point-meduim) {
    padding-bottom: 10rem;
  }

  @media only screen and (max-width: $break-point-verytiny) {
    height: 80vh;
    gap: 10rem;
  }
}

.partners {
  padding-top: 5rem !important;
  padding-bottom: 0 !important;
  text-align: center;
}

.about {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 8rem;
  overflow: hidden;

  @media only screen and (max-width: $break-point-small) {
    padding-bottom: 4rem !important;
  }

  @media only screen and (max-width: $break-point-verytiny) {
    text-align: center;
    padding-bottom: 0 !important;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.skills {
  display: grid;
  grid-template-columns: 55% 1fr;
  column-gap: 3rem;
  background-color: var(--color-grey-light-1);
  @media only screen and (max-width: $break-point-verytiny) {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}

.cta-section {
  padding-bottom: 0 !important;
}

.testimonials {
  text-align: center;
  background-color: var(--color-grey-light-1);
}

.projects,
.services {
  text-align: center;
}

.contact {
  display: flex;
  gap: 10rem;
  background-color: var(--color-grey-light-1);
  @media only screen and (max-width: $break-point-small) {
    gap: 5rem;
  }

  @media only screen and (max-width: $break-point-verytiny) {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 10rem;
  background-color: var(--color-tertiary);
  @media only screen and (max-width: $break-point-verytiny) {
    padding: 5rem;
  }
}
