:root {
  --color-primary: #0189ff;
  --color-primary-dark: #045ba7;
  --color-primary-light: #7cbef8;

  --color-secondary: #f73830;

  --color-tertiary: #232d39;
  --color-tertiary-light: #404952;

  --color-grey-light-1: #f8f9fd;
  --color-grey-light-2: #d2dfeb;

  --color-grey-dark-1: #868e96;
  --color-grey-dark-2: #444;

  --color-white: #fff;
  --color-black: #000;
  --color-linear-gradient-primary: linear-gradient(
    130deg,
    rgba(37, 225, 254, 0.98) 0%,
    rgba(36, 176, 254, 0.85) 54%,
    rgba(35, 126, 253, 0.7) 100%
  );
  --color-linear-gradient-secondary: linear-gradient(
    130deg,
    rgba(255, 211, 36, 0.99) 0%,
    rgba(254, 187, 36, 0.9) 54%,
    rgba(253, 163, 35, 0.7) 100%
  );
  --color-linear-gradient-tertiary: linear-gradient(
    130deg,
    rgba(49, 214, 162, 0.98) 10%,
    rgba(42, 197, 106, 0.85),
    rgba(2, 179, 21, 0.7)
  );

  --box-shadow-light-1: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  --box-shadow-light-2: 0 2rem 4rem rgba(0, 0, 0, 0.05);
  --box-shadow-light-3: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  --box-shadow-light-4: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

/////////////////////////////////////////////
/// BREAK POINTS

$break-point-verytiny: 31.25em;
$break-point-tiny: 37.5em;
$break-point-smallest: 42.8125em;
$break-point-small: 54.6875em;
$break-point-meduim: 66.25em;
$break-point-meduimPlus: 70.4rem;
$break-point-meduimPlusPlus: 76.25rem;
$break-point-bg: 93.75rem;
$break-point-lg: 100rem;

// --color-primary: #015eab; /* Darker shade */
// --color-primary-dark: #003d6f; /* Even darker shade */
// --color-primary-light: #5c9ee0; /* Darker shade */

// --color-secondary: #d6241e; /* Darker shade */

// --color-tertiary: #19232f; /* Darker shade */
// --color-tertiary-light: #2b394b; /* Darker shade */

// --color-grey-light-1: #d1d4d8; /* Darker shade */
// --color-grey-light-2: #a2a7ad; /* Darker shade */

// --color-grey-dark-1: #4d5157; /* Darker shade */
// --color-grey-dark-2: #000; /* Black */

// --color-white: #fff;
// --color-black: #000;
// --color-linear-gradient-primary: linear-gradient(
//   130deg,
//   rgba(24, 121, 141, 0.98) 0%,
//   /* Adjusted color */ rgba(22, 83, 113, 0.85) 54%,
//   /* Adjusted color */ rgba(20, 59, 71, 0.7) 100% /* Adjusted color */
// );
// --color-linear-gradient-secondary: linear-gradient(
//   130deg,
//   rgba(169, 114, 24, 0.99) 0%,
//   /* Adjusted color */ rgba(158, 101, 24, 0.9) 54%,
//   /* Adjusted color */ rgba(147, 88, 23, 0.7) 100% /* Adjusted color */
// );
// --color-linear-gradient-tertiary: linear-gradient(
//   130deg,
//   rgba(24, 141, 107, 0.98) 10%,
//   /* Adjusted color */ rgba(21, 120, 71, 0.85),
//   /* Adjusted color */ rgba(2, 99, 12, 0.7) /* Adjusted color */
// );
