.navbar__link.btn--contact {
  &:visited,
  &:link {
    color: var(--color-white);
    letter-spacing: 0.8px;
    background-color: var(--color-primary);
    padding: 1.1rem 2.7rem;
    border-radius: 50px;
    transition: all 0.3s;
    @media only screen and (max-width: $break-point-verytiny) {
      background-color: transparent;
      border-radius: 0;
    }
  }

  &:hover {
    background-color: var(--color-primary-dark);
    @media only screen and (max-width: $break-point-verytiny) {
      background-color: transparent;
      color: var(--color-primary);
    }
  }
}

.cta {
  align-self: start;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  grid-column: 2 / -1;
  @media only screen and (max-width: $break-point-verytiny) {
    justify-content: center;
  }
}

.btn {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    position: relative;
    z-index: 10;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 400;
    border-radius: 5px;
    padding: 1.1rem 3.1rem;
    transition: all 0.3s;

    @media only screen and (max-width: $break-point-tiny) {
      font-size: 1.6rem;
    }
  }

  &--fill {
    color: var(--color-white);
    background-color: var(--color-primary);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.05);
    border: 1.5px solid var(--color-primary);

    span {
      animation: smile 2s infinite;
    }

    &:hover {
      background-color: transparent;
      color: var(--color-primary);
      border: 1.5px solid currentColor;
    }
  }

  &--outline {
    color: var(--color-secondary);
    border: 1.5px solid var(--color-secondary);
    &:hover {
      color: var(--color-white);
      background-color: var(--color-secondary);
    }
  }
}

.icon--chevron {
  width: 1.75rem;
  height: 1.75rem;
  fill: currentColor;
}

/////////////////////////////////////////////////////////////////////////////
/// LOADER SPINNER
.loader {
  justify-self: center;
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
